.form-post {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin: 2rem auto;
    padding: 50px;
}

.form-post input[type="text"],
input[type="number"] {
    padding: 10px 15px;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    outline: none;
}

.form-post input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.form-post button {
    background: #6A5AF9;
    color: white;
    border: 0;
    border-radius: 8px;
    outline: none;
}



.course-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 25px;
}

.course-item {
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.course-title {
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.2;
    font-size: 18px;
}

.course-image {
    border-radius: 8px;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.course-image::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    inset: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
    border-radius: 8px;
}

.course-image:hover .course-image::after {
    opacity: 1;
    visibility: visible;
}

.course-image:hover .course-adjust {
    opacity: 1;
    visibility: visible;
}

.course-image .course-adjust {
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.course-remove,
.course-edit {
    display: inline-block;
    padding: 15px;
    font-size: 15px;
    cursor: pointer;
    color: white;
    outline: none;
    border: 0;
    border-radius: 5px;
}

.course-edit {
    background: #999;
}

.course-remove {
    background: #FF6651;

}

.course-remove i,
.course-edit i {
    pointer-events: none;
}

.course-meta {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.course-author {
    color: gray;
    margin-block: 10px;
}

.course-best-seller {
    display: inline-block;
    padding: 10px 15px;
    color: #F62682;
    background: rgba(246, 38, 132, 0.2);
}

.course-enroll {
    color: #999;
    font-size: 13px;
    font-weight: 300;

}